* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5 rem;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 2rem;
  max-width: 50rem;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

.cell {
  background-color: transparent;
  border: 1px solid black;
  height: 0;
  padding-bottom: 100%;
}

.cell-activated {
  background-color: green;
}
